<div id="<%= dom_id group %>">
  <p>
    <strong>Account:</strong>
    <%= group.account_id %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= group.uuid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= group.status %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= group.info %>
  </p>

</div>
