<% provide(:title, 'プロフィール編集') %>

<h1>プロフィール編集</h1>

<%= form_with(model: @account, url: account_path(@account.name_id), data: {turbo: false}) do |form| %>
  <% if @account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@account.errors.count, "error") %> つ問題があります。</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, '名前', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :name_id, 'ID', style: "display: block" %>
    <%= form.text_field :name_id %>
  </div>

  <div>
    <%= form.label :description, 'あなたを説明', style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :birth, '生まれ', style: "display: block" %>
    <%= form.datetime_field :birth %>
  </div>

  <div>
    <%= form.submit '更新' %>
  </div>
<% end %>
