<% provide(:title, "アカウント") %>

<h1>アカウント</h1>

<h2>アカウント検索</h2>

<%= form_with url: accounts_path, method: :get, local: true do |f| %>
  <%= f.select :type, [["名前", "name"], ["ID", "id"]], selected: params[:type] %>
  <%= f.search_field :query, value: params[:query] %>
  <%= f.button "検索", name: nil, type: :submit %>
<% end %>

<h2>検索結果</h2>

<% if @accounts.any? %>
  <ul>
    <% @accounts.each do |account| %>
      <li>
        <%= link_to account.name, account_path(account.name_id) %>
        (<%= account.name_id %>)
        <% if @current_account && @current_account.following?(account) %>
          <span class="badge bg-success">フォロー中</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div>アカウントが見つかりませんでした</div>
<% end %>
