<% provide(:title, 'はじめる') %>

<h1>はじめる</h1>

<%= form_with(model: @account) do |form| %>
  <% if @account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@account.errors.count, "error") %> つ問題があります。</h2>

      <ul>
        <% @account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, '名前', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :name_id, 'ID', style: "display: block" %>
    <%= form.text_field :name_id %>
  </div>

  <div>
    <%= form.label :description, 'あなたを説明', style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :birth, '生まれ', style: "display: block" %>
    <%= form.datetime_field :birth %>
  </div>

  <div>
    <%= form.label :password, '新しいパスワード', style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, 'パスワードをもう一度', style: "display: block" %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div>
    <br />
    次の「はじめる」ボタンを押してアカウントを作成することで、<br />
    我々の<%= link_to '利用規約', tos_path %>と<br />
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>に<br />
    同意したとみなされますので事前にご確認ください。<br />
    <br />
  </div>

  <div>
    <%= form.submit 'はじめる' %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "アカウントがある", login_path %>
</div>
