<% if @account %>

  <% provide(:title, @account.name + "さん") %>

  <div>
    <%= image_tag(@account.icon_url, class: "account-icon") %>
  </div>

  <div>
    <%= @account.name %>
  </div>

  <div>
    @<%= @account.name_id %>
  </div>

  <p>
    <strong>自己紹介:</strong>
    <%= @account.description %>
  </p>

  <p>
    <strong>フォロー:</strong>
    <%= link_to @account.accepted_following.count, following_account_path(@account.name_id) %>
  </p>

  <p>
    <strong>フォロワー:</strong>
    <%= link_to @account.accepted_followers.count, followers_account_path(@account.name_id) %>
  </p>

  <% if @account == @current_account %>
  <p>
    <strong>操作:</strong>
    <%= link_to "設定", settings_account_path %>
  </p>
  <% else %>
  <p>
    <strong>操作:</strong>
    <% if @current_account %>
      <% if @current_account.following?(@account) %>
        <% if @current_account.accepted_following.include?(@account) %>
          <p>フォロー済み (承認済み)</p>
          <%= button_to "フォロー解除", follows_withdraw_path(name_id: @account.name_id), method: :delete, data: { confirm: "本当にフォロー解除しますか？" } %>
        <% else %>
          <p>フォローリクエスト送信済み (承認待ち)</p>
          <%= button_to "フォローリクエストキャンセル", follows_withdraw_path(name_id: @account.name_id), method: :delete, data: { confirm: "本当にリクエストをキャンセルしますか？" } %>
        <% end %>
      <% else %>
        <%= button_to "フォローリクエスト", follows_request_path(name_id: @account.name_id), method: :post %>
      <% end %>
    <% else %>
      <%= link_to "サインインしてフォロー", sessions_start_path() %>
    <% end %>
  </p>
  <% end %>

  <hr />

  <div>
    <% if @captures.present? %>
      <div id="captures">
        <%= render partial: "captures/capture", collection: @captures, locals: { show_comment: true } %>
      </div>
      <div id="load-more">
        <%= render partial: "captures/load_more", locals: { offset: @captures.last.aid, type: "account", layout: "" } %>
      </div>
    <% else %>
      <p>キャプチャーがありません</p>
    <% end %>
  </div>
<% else %>

  <% provide(:title, "アカウントが見つかりません") %>

  <p>アカウントが見つかりません</p>

<% end %>
