<% provide(:title, "リクエストする") %>

<h1>リクエストする</h1>

<%= form_with(model: @capture) do |form| %>
  <%= render "shared/error_messages", instead: @capture %>

  <div>
    <%= form.label :sender_comment, style: "display: block" %>
    <%= form.text_field :sender_comment %>
  </div>

  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "キャプチャー一覧へ戻る", captures_path %>
</div>
