<% provide(:title, "みる") %>

<h1>みる</h1>

<% if @capture %>

<div class="capture">

  <div class="capture-person">
    <div class="capture-nameplate">
      <%= image_tag(@capture.sender.icon_url, class: "capture-icon") %>
      <%= link_to @capture.sender.name, account_path(@capture.sender.name_id) %>がリクエスト
    </div>
  </div>

  <div class="capture-person">
    <div class="capture-nameplate">
      <% if @capture.receiver %>
        <%= image_tag(@capture.receiver.icon_url, class: "capture-icon") if @capture.receiver %>
        <%= link_to @capture.receiver.name, account_path(@capture.receiver.name_id) %>が撮影
      <% elsif @capture.captured_at.nil?  %>
        撮影待ち
      <% else %>
        <strong>匿名</strong>が撮影
      <% end %>
    </div>
  </div>

  <div class="capture-image">
    <% if !@capture.captured_at.nil? %>
      <%= image_tag @capture.main_photo_url, class: "front-image" %>
      <%= image_tag @capture.sub_photo_url, class: "back-image" %>
    <% else %>
      <div class="capture-image-dummy">
        リンクを共有して撮ってもらおう！
      </div>
    <% end %>
  </div>

  <div class="capture-info">
    <div class="capture-visibility">
      <%= t("activerecord.enums.capture.visibility.#{@capture.visibility}") %>
    </div>
    <div class="capture-time">
      <% if @capture.captured_at %>
        <%= @capture.captured_at.strftime("%m月 %d日 %k時 %M分") %>に撮影
      <% else %>
        未撮影
      <% end %>
    </div>
  </div>

  <div class="capture-controll">
    <% if @capture.captured_at.nil? %>
      <%= link_to "撮る", capture_capture_path(@capture.aid), class: "pages-link-button" %>
    <% end %>
    <% if @capture.owner == @current_account || session[:captured]&.include?(@capture.aid) && !@capture.receiver %>
      <%= link_to "編集", edit_capture_path(@capture.aid), class: "pages-link-button" %>
    <% end %>
  </div>

  <% if @capture.sender_comment.present? %>
    <div class="capture-commentbox">
      <div class="capture-nameplate">
        <%= image_tag(@capture.sender.icon_url, class: "capture-icon") %>
        <%= link_to @capture.sender.name, account_path(@capture.sender.name_id) %>
      </div>
      <div class="capture-fullcomment">
        <%= @capture.sender_comment %>
      </div>
    </div>
  <% end %>

  <% if @capture.receiver_comment.present? %>
    <div class="capture-commentbox">
      <div class="capture-nameplate">
        <% if @capture.receiver %>
          <%= image_tag(@capture.receiver.icon_url, class: "capture-icon") if @capture.receiver %>
          <%= link_to @capture.receiver.name, account_path(@capture.receiver.name_id) %>
        <% else %>
          匿名
        <% end %>
      </div>
      <div class="capture-fullcomment">
        <%= @capture.receiver_comment %>
      </div>
    </div>
  <% end %>

  <div class="capture-commentbox">
    <p>コメントはそのうち実装</p>
  </div>
</div>

<br />
<br />
<br />

<% else %>

<p>キャプチャーが見つかりません</p>

<% end %>
