<% provide(:title, "みる") %>

<h1>みる</h1>

<div class="capture-person">
  <% if @capture.receiver %>
    <strong>撮影者:</strong> <%= @capture.receiver.name %>
  <% else %>
    <strong>撮影者:</strong> 匿名
  <% end %>
  <% if @capture.sender %>
    <strong>リクエスト:</strong> <%= @capture.sender.name %>
  <% end %>
</div>
<div class="capture-image" style="width: 100%;">
  <% if @capture.done? %>
    <%= image_tag @capture.front_image_url, class: "front-image", style: "width: 100%;" %>
    <%= image_tag @capture.back_image_url, class: "back-image", style: "width: 28%;" %>
  <% else %>
    <div class="capture-image-dummy">
      このリンクを共有して撮ってもらおう！
    </div>
  <% end %>
</div>
<div class="capture-comment">
  <p><%= @capture.comment %></p>
</div>
<div class="capture-info">
  <% if @capture.captured_at %>
  <p><%= @capture.captured_at.strftime("%m月 %d日 %k時 %M分") %>に撮影</p>
  <% end %>
</div>
<% if !@capture.done? %>
  <%= link_to "撮る", capture_capture_path(@capture.uuid) %>
<% end %>
<br />
<br />
<br />
<% if @destroy_flag %>
  <%= button_to "削除", capture_path(@capture.uuid), method: :delete %>
<% end %>
<p>コメントはそのうち実装</p>
