<div id="<%= dom_id invitation %>">
  <p>
    <strong>Uuid:</strong>
    <%= invitation.uuid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= invitation.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= invitation.code %>
  </p>

  <p>
    <strong>Uses:</strong>
    <%= invitation.uses %>
  </p>

  <p>
    <strong>Max uses:</strong>
    <%= invitation.max_uses %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= invitation.expires_at %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= invitation.deleted %>
  </p>

</div>
