<% provide(:title, 'ログイン') %>

<h1>ログイン</h1>

<%= form_with(url: sessions_path, data: {turbo: false}) do |form| %>

  <div>
    <%= form.label :name_id, 'ログインID', style: "display: block" %>
    <%= form.text_field :name_id, value: @name_id %>
  </div>

  <div>
    <%= form.label :password, 'パスワード', style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit 'ログイン' %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "アカウントを作成", signup_path %>
  <br>
  <%= link_to "ログインできない", contact_path %>
</div>
